# ignore overrided rst files to resolve issues with duble indexing
atproto.xrpc_client.client.base.rst
atproto.xrpc_client.client.raw.rst
atproto.xrpc_client.client.client.rst
atproto.xrpc_client.client.async_client.rst

atproto.xrpc_client.models.data.rst
atproto.xrpc_client.models.defs.rst
atproto.xrpc_client.models.params.rst
atproto.xrpc_client.models.records.rst
atproto.xrpc_client.models.responses.rst

atproto.xrpc_client.namespaces.async_ns.rst
atproto.xrpc_client.namespaces.sync_ns.rst
