name: Ruff

on: [ pull_request, push ]

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3

      - name: Setup Python.
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Install dependencies.
        run: pip install black

      - name: Run linter check on package.
        uses: chartboost/ruff-action@v1
        with:
          src: "./atproto"

      - name: Run linter check on tests.
        uses: chartboost/ruff-action@v1
        with:
          src: "./tests"
